h1{
    text-align: center;
    position: relative;
    margin-top: 40px;
    font-size:30px;
    font-weight:bold;
    font-style:italic;
}
.logo{
    position: absolute;
    left: 10%;
    right: 0%;
    top: 5%;
    bottom: 0%;
}
body{
    background: #E5E5E5;
}
.iniciar{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 24px;
    gap: 8px;
    color: white;
    position: absolute;
    width: 317px;
    height: 114px;
    left: 482px;
    top: 230px;
    cursor: pointer;
    font-size: 20px;
    background: #0A3871;
    border-radius: 24px;
    transition: 550ms;
}
.iniciar:hover{
    transform: scale(1.1);
}
.agregar{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 24px;
    gap: 8px;
    cursor: pointer;
    position: absolute;
    width: 280px;
    height: 67px;
    left: 500px;
    top: 380px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    transition: 550ms; 
}
.agregar:hover{
    transform: scale(1.1);
}

/* css pag 2 */

.base{
    position: absolute;
    width: 294px;
    height: 5px;
    left: 520px;
    top: 350px;
    background: #0A3871;
    border-radius: 8px;
}
.nuevo{
    color: white;
    width: 150px;
    height:40px;
    background: #0A3871;
    border-radius: 24px;
    margin-top: 430px;
    margin-left: 500px;
    cursor: pointer;
    transition: 300ms;
}
.nuevo:hover{
    transform: scale(1.1);
}
.desistir{
    width: 150px;
    height:40px;
    border-radius: 24px;
    margin-left: 40px;
    cursor: pointer;
    transition: 300ms;
}
.desistir:hover{
    transform: scale(1.1);
}

/*css pag3*/
.input-palabra{
    position: relative;
    text-align: center;
    align-items: center;
    border-radius: 12px;
    margin-top: 100px;
    margin-left: 500px;
}
.under{
    position: relative;
}
.adver{
    position: relative;
    margin-left: 500px;
    
}
.guardar{
    color: white;
    width: 150px;
    height:40px;
    background: #0A3871;
    border-radius: 24px;
    margin-left: 485px;
    cursor: pointer;
    transition: 300ms;
}
.guardar:hover{
    transform: scale(1.1);
}
.cancelar{
    width: 150px;
    height:40px;
    border-radius: 24px;
    margin-left: 40px;
    cursor: pointer;
    transition: 300ms;
}
.cancelar:hover{
    transform: scale(1.1);
}

   

